* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}
html {
  --green-jussi: #03FFA5; 
  --pink-jussi: #EE0E7D;
  --grey: #F2F2F2;
  --dark-grey:#5B5B5B;
}
a {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
input {
  outline: none
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#root {
  background-color: white;
  height: 100vh;
}
.header {
  height: 80px;
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-right {
    display: flex;
    align-items: center;
    nav {
      width: 100%;
      a {
        margin: 0 32px;
      }
    }
  }
  .header-left{
    position: relative;
    display: flex;
    align-items: center;
    gap: 32px;
    .search {
      position: relative;
      height: 40px;
      width: 240px;
      input {
        border: 1px solid var(--grey);
        border-radius: 24px;
        width: 100%;
        height: 100%;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 500;
        &::placeholder {
          color: var(--pink-jussi);
        }
      }
      img {
        position: absolute;
        right: 21px;
        top: 8px;
      }
    }
  }
}
