* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
html {
  --green-jussi: #03FFA5; 
  --pink-jussi: #EE0E7D;
  --grey: #F2F2F2;
  --dark-grey:#5B5B5B;
}
a {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
input {
  outline: none
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  span{
    color: var(--green-jussi);
  }
}
#root {
  background-color: white;
  height: 100vh;
}
.header {
  height: 80px;
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-left {
    display: flex;
    align-items: center;
    img{
      cursor: pointer;
    }
    nav {
      width: 100%;
      button {
        margin: 0 32px;
        color: black;
      }
    }
  }
  .header-right{
    position: relative;
    display: flex;
    align-items: center;
    gap: 32px;
    a {
      color: black;
    }
    .address {
      h4   {
        margin-right: 16px;
        cursor: pointer;
      }
      display: flex;
     }
    .search {
      position: relative;
      height: 40px;
      width: 240px;
      input {
        border: 1px solid var(--grey);
        border-radius: 24px;
        width: 100%;
        height: 100%;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 500;
        &::placeholder {
          color: var(--pink-jussi);
        }
      }
      img {
        position: absolute;
        right: 21px;
        top: 8px;
      }
    }
  }
}
.breadcrum {
  height: 560px;
  background-color: var(--green-jussi);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 6%;
  .breadcrum-left {
    width: 451px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    h1 {
      font-weight: 500;
      font-size: 64px;
      line-height: 77px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      width: 329px;
      margin: 32px 0;
      line-height: 24px;
    }
    button {
      width: fit-content;
      padding: 12px 24px;
      font-size: 16px;
      border: 1px solid black;
      border-radius: 6px;
    }
  }
  .breadcrum-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
.product-card {
  position: absolute;
  background-color: white;
  width: 209px;
  height: 271px;
  border: 1px solid var(--grey);
  box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
  }
  button {
    color: var(--pink-jussi);
    padding: 12px 24px;
    border: 1px solid var(--pink-jussi);
    border-radius: 24px;
  }
}
.product-card-group {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  div:first-child {
    right: 30px;
    top: -80px;
  }
  div:nth-child(2){
    bottom: -33px;
    z-index: 1;
  }
  div:last-child {
    left:20px;
    top: -20px;
  }
  
}
.brands {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--grey);
  height: 80px;
  padding:0 10%;
}
.solutions {
  h2 {
    margin-bottom: 24px;
  }
  height: 557px;
  padding: 56px 208px;
}
.product {

  width: 241px;
  height: 381px;
  border-radius: 4px;
  border: 1px solid var(--grey);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--grey);
    color: black;
    font-size: 32px;
    padding: 31px 35px;
    font-weight: 500;
  }
  .description {
    
    h3 {
      font-size: 16px;
      font-weight: 500;
    }
    p {
      font-size: 12px;
      color: var(--pink-jussi);
      margin-top: 18px;
    }
    ul {
      margin-top: 18px;
      padding: 0 16px;
    }
    li {
      font-size: 12px;
      color: var(--dark-grey);
      height: 18px;
    }
    button {
      margin-top: 16px;
      width: 100%;
      height: 48px;
      background-color: var(--green-jussi);
      border-radius: 6px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
.slider {
  display: flex;
  gap: 24px;
}


.about {
  height: 648px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .about-right {
    align-self: center;
    justify-self: center ;
    width: 241px;
    height: 100%;
    padding: 64px 0;
    p{
      margin: 24px 0;
      line-height: 24px;
    }
    button {
      padding: 12px 24px;
      border: 1px solid black;
      border-radius: 6px;
      &:hover {
        background-color: rgb(245, 241, 241);
      }
    }
  }
  .about-left {
    width: 100%;
    height: 99.5%;
    background-color: var(--grey);
    padding: 64px 0;
    img {
      border-radius: 4px;
      transform: translateX(-100px);
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);

    }
  }
}
.call-action {
  height: 480px;
  background-color: var(--pink-jussi);
  color: white;
  padding: 136px 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    max-width: 676px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    size: 32px;
    line-height: 40px;
  }
  label {
    margin: 32px 0 8px;
  }
  a {
    color: white;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 32px;
    size: 32px;
    line-height: 40px;
    &:hover {
      opacity: .8;
    }
  }
}
.keep-in-touch {
  padding: 136px;
  color: white;
  height: 436px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    width: 550px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  div {
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      color: white;
      font-size: 16px;
      font-weight: 500;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--green-jussi);
      height: 60px;
      width: 100%;
      &::placeholder {
        color: white;
        font-size: 16px;
        font-weight: 500;
      }
  
    }
    button {
      position: absolute;
      right: 0;
      color: var(--green-jussi);
      &:hover {
        opacity: .8;
      }
    }
  }
  
}

.footer {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  img {
    cursor: pointer;
    margin: 0 8px;
    &:hover {
      opacity: .8;
    }
  }
}
